<html>
<head>
	<title>Facepro-Create Group</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet"href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<script>
		function deleteGroup(groupname){
			$.ajax({
			type: "POST",
			url:"/deleteGroup",
			data:{
				"groupname":groupname
			},
			success: function(result){
				window.location.assign("/groups");
			}
		});
		}	
	</script>
</head>
<body>
	<nav class="navbar navbar-default" style=" background-color: #3b5998;margin-bottom:0px;">
		<div class="col-md-1">
				
		</div>
		<div class="col-md-10">
			<label style="margin-top: 0px;font-size:28px;color:white;float:left" class="loginpageText"><a href="/homepage" style="color:white" class="facepro_homepage_click">facepro</a></label>
				<div class="wrapper" style="float:left;margin-top:10px">
				<form action="searchUser" method="POST">
				<input type="text" name="search" id="search" ng-model="search" style="width:370px;height:20px"/>
				<button class="loginpageText _searchbox"><img src="/images/login_page_images/search.png" width="15" height="15"></img></button>
				</form>
				</div>
				<div>
					<label style="font-weight:normal;margin-left: 150px;margin-top: 10px;font-size:16px;color:white;float:left" class="loginpageText"><a href="/viewProfile" style="color:white"><input type="button" value="<%=username%>" class="homepageButton"/></a>&nbsp;&nbsp;&nbsp;</label>
				</div>
				<div>
					<label style="font-weight:normal;margin-top: 10px;font-size:16px;color:white;float:left" class="loginpageText"><a href="/homepage" style="color:white"><input type="button" value="Home" class="homepageButton"/></a>&nbsp;&nbsp;</label>
				</div>
				<div style="float:left;margin-top: 8px;">
					<table cell-padding="10" cell-spacing="10">
						<tbody>
							<tr><td><img src="/images/login_page_images/friends.png" width="33" height="31"></img></td><td></td>
							<td><img src="/images/login_page_images/message.png" width="28" height="31"></img></td><td></td>
							<td><img src="/images/login_page_images/notifications.png" width="28" height="31"></img></td>
							<td>&nbsp;&nbsp;&nbsp;</td>
							<td><img src="/images/login_page_images/privacy.png" width="15" height="18"></img>&nbsp;
							</td>
							<td>
							
							</td>
							
							
							</tr>
						</tbody>
					</table>
				</div>
				<div>
					<form action="logout" method="post">
							<label style="font-weight:normal;margin-top: 10px;font-size:16px;color:white;float:left" class="loginpageText"><input type="submit" value="Logout" class="homepageButton"/>&nbsp;&nbsp;</label>
							</form>
				</div>
		</div>
		<div class="col-md-1">
		
		</div>
	</nav>
	<nav class="navbar navbar-default" style=" background-color: #F5F5F5;margin-bottom:0px;height:600px">
		<div class="col-md-1">
		
		</div>
		<div class="col-md-9">
			<div class="col-sm-6">
			<%if(group_admin.length==0){%>
				<strong>You are not admin of any groups.</strong><br/>
				<a href="createGroup">Create a group Now</a><br/>
			<%}
			else{%>
				<form>
					<table class="table table-striped" width="100">
					<tr><th colspan=2">Groups you manage</th></tr>
					<tr><th colspan=2">Group Name</th></tr>
					<%for(var i=0;i<group_admin.length;i++){%>
						<tr>
							<td><%=group_admin[i].groupname%></td>
							<td><input type="submit" value="Delete Group" onclick="deleteGroup('<%=group_admin[i].groupname%>');"/></td>
						</tr>
					<%} %>
					</table>
				</form>
			<%}%>
			</div>
		</div>
		<div class="col-md-2">
		
		</div>
	</nav>
</body>
</html>